body {
  margin:0;
  padding: 0;
  font-family:Arial;
}
h3 {
  margin-left:10px;
}
.main {
  margin:auto;
  width:1200px;
  height: 1050px;
  background:#4A5A72;
  color: #fff;
}

.container {
  position: relative;
  margin: auto;
  border: 2px solid darkgray;
  border-radius: 5px;
  width: 600px;
  height: 170px;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}
 .container1 {
   position: relative;
   margin: auto;
   border: 2px solid darkgray;
   border-radius: 5px;
   width: 550px;
   height: 900px;
   float: right;
   top: 20px;
   right: 10px;
 }
 .inputNumber1 {
   width:10%;
   float:left;
 }
 .inputNumber {
   width:30%;
}
a {
  color:blue;
}
 .p {
   margin-top: 30px;
 }
 p {
   margin-left:10px;
 }
 input {
   margin-left:10px;
   border-radius: 5px;
   width:85%;

 }

#applyCSS {
  text-align: left;
}
